[run]
source = quick_ternaries
omit = 
    */tests/*
    */venv/*
    */setup.py
    */main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = coverage_html_report
title = Quick Ternaries Test Coverage Report
