.DS_Store
__pycache__
*.csv
!tests/data/*.csv
.coverage
.cache/
coverage.xml
coverage_html_report/
htmlcov/
*.egg-info/
.venv/
venv
build
build-venv
testvenv
qtvenv/
from-github
dist
src3/dev
src3/demo-data
src3/from-ellie
src3/from-steph
src2/demo-data/matplotvenv
quick_ternaries/app/__tmp.html
